# Dirección del backend
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# Cloudinary (cloudinary.com → Dashboard)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui

# Wompi - pasarela de pagos (wompi.co → Desarrolladores)
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=pub_test_xxxxxxxxxxxxxxxx